* {
    margin: 0;
}

body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #424242;
    background-color: #FAFAFA;
}

@font-face {
    src: url(fonts/Al%20Qalam%20Quran%20Majeed%202.ttf);
    font-family: arabic;
}

@font-face {
    src: url(fonts/tradbdo.ttf);
    font-family: arabic2;
}

@font-face {
    src: url(fonts/noorehira.ttf);
    font-family: arabic3;
}

@font-face {
    src: url(fonts/pdms-saleem-quranfont.ttf);
    font-family: arabic4;
}

@font-face {
    src: url(fonts/calibrii.ttf);
    font-family: arabic5;
}

@font-face {
    src: url(fonts/Amiri-Regular.ttf);
    font-family: arabic7;
}

/* HEADER BAR */

.header-bar {
    margin: 0;

    width: 100%;
    height: 50px;

    display: table;
    text-align: center;
    background-color: #9CCC65; /* Material 400 */

    border-bottom: 2px solid #558B2F; /* Material 800 */
}

.header-bar-content {
    display: table-cell;
    vertical-align: middle;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    color: #33691E; /* Material 900 */
}

.header-bar-content a {
    color: #33691E;
    font-size: 21px;
    text-decoration: none;

    position: absolute;
    left: 13px;
    top: 11px;
}

.header-bar-content .reload {
    color: #33691E;
    text-decoration: none;
    cursor: pointer;

    position: absolute;
    right: 13px;
    top: 18px;
}

/* HOME CARDS */

.home-card {
    text-decoration: none;
    color: #424242;
}

.home-card .card-image {
    height: 150px;

    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.home-card .card-content {
    padding: 15px;
}

.home-card .card-content p {
    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.home-card .card-content h2 {
    padding-bottom: 10px;
    font-weight: 600;
}

/* HOME LIST */

.home-list .list-item {
    text-decoration: none;
    color: #424242;

    padding: 10px 15px 6px 15px;
    border-top: 1px solid #E0E0E0;

    display: table;
}

.home-list .list-item:first-child {
    border-top: none;
}

.home-list .list-item:last-child {
    padding-bottom: 7px;
}

.home-list .list-image {
    display: table-cell;
    vertical-align: middle;

    /* border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; */

    /* background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; */
}

.home-list .list-image img {
    width: 75px;
    height: auto;

    border-radius: 10px;
}

/* .home-list .list-item:first-child .list-image {
    border-top-left-radius: 5px;
}

.home-list .list-item:last-child .list-image {
    border-bottom-left-radius: 5px;
} */

.home-list .list-content {
    padding-right: 15px;
    display: table-cell;
    vertical-align: middle;

    /* border-bottom: 1px solid #E0E0E0; */
}

.home-list .list-content p {
    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.home-list .list-content h4 {
    padding-bottom: 5px;
    font-weight: 700;
}

/* FEATURED IMAGE */

.featured-image {
    margin: 0px;
    position: relative;
}

.featured-image img {
    width: 100%;
    border-radius: 0px;
}

.featured-image .alt {
    text-align: left;
    font-style: italic;
    color: #ffffff;
    background-color: #21212185;

    position: absolute;
    width: 100%;

    bottom: 4px;
}

.featured-image .alt p {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

/* PAGE CARDS */

.card, .list {
    margin: 7px 7px 12px 7px;
    background-color: #ffffff;
    border-radius: 5px;

    box-shadow: 0px 1px 3px 1px #42424229;
}

.card .card-heading {
    text-transform: uppercase;
    text-align: left;
    max-width: 100%;
    padding: 10px;
    font-size: 14px;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    background-color: #F5F5F5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card .card-content div {
    padding: 0px 10px 10px 10px;
}

.card .card-content div:first-child {
    padding-top: 10px !important;
}

.card .card-content .p {
    line-height: 24px;
}

.card .card-content .img {
    text-align: center;
}

.card .card-content .img img {
    width: 100%;
    border-radius: 5px;
}

.card .card-content .img i {
    font-size: 12px;
}

.card .card-content .table {
    overflow: scroll;
}

.card .card-content .table table {
    border-collapse: collapse;
    min-width: 100%;
}

.card .card-content .table td, th {
    border: 1px solid #E0E0E0;
    padding: 7px;
    min-width: 75px;
}

.card .card-content .map iframe {
    width: 100%;
    height: calc(100vw);

    border-radius: 5px;
}

/* FOOTER */

.footer {
    max-width: 100%;
    text-align: center;
    
    border-top: 2px solid #eeeeee;
    background-color: #F5F5F5;
    color: #757575;

    padding: 25px;
    margin-top: 25px;
}

/* COLLAPSIBLE CARD */

.card .card-heading.card-toggle {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.card .card-heading.card-toggle:hover {
    background-color: #EEEEEE;
}

.card.collapsible .card-content {
    max-height: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.card .card-heading.card-toggle.card-collapsed {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card .card-heading.card-toggle.card-active::after {
    content: '\f068';
    font-family: 'Font Awesome 5 Free';
    float: right;
}

.card .card-heading.card-toggle.card-collapsed::after {
    content: '\f067';
    font-family: 'Font Awesome 5 Free';
    float: right;
}